button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.5em 1em;
	font-size: 1rem;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: var(--color-scheme1);
}
